body {
  margin: 0;
  padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Search Div */
.search {
  display: flex;
  align-items: center;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgba(237, 237, 237, 0.548);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search input:focus {
  outline: none;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.newNote {
  background-color: #FDFDBD;
  box-shadow: 1px 1px 1px 1px #888888c8;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  word-break: break-all;
}

.newNotedark {
  color: white;
  background-color: #A27B5C;  
  /* background-color: #B8E8FC; */
  box-shadow: 1px 1px 1px 1px #a27b5ca6;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  word-break: break-all;
}

/* .note-new dark-mode {
  background-color: violet;
} */

textarea {
  border: none;
  resize: none;
  background-color: #FDFDBD;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textareadark {
  color: white;
  background-color: #A27B5C;
  border: none;
  resize: none;
  /* background-color: #B8E8FC; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea:focus {
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.textareadark:focus {
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.textareadark::placeholder {
  color: white;
}

.save1 {
  font-family: monospace;
  background-color: rgb(237, 237, 237);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.save1:hover {
  background-color: rgba(255, 255, 255, 0.852);
}

.save {
  font-family: monospace;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.save:hover {
  background-color: rgba(0, 0, 0, 0.663);
}

.savedark{
  font-family: monospace;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.savedark:hover {
  background-color: rgba(255, 255, 255, 0.852);
}

.note {
  background-color: #B6E2A1;
  box-shadow: 1px 1px 1px 1px #888888;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  word-break: break-all;
}

.notedark {
  color: white;
  background-color: #0f3660;
  box-shadow: 1px 1px 1px 1px #354259cf;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  word-break: break-all;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  cursor: pointer;
}

.dark-mode {
  background-color: #232121;
}

.dark-mode h1 {
  color: white;
  font-size: 45px;
}

h1 {
  font-size: 45px;
}
/*Footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;
  margin-top: auto;
}

.footerdark{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;
  margin-top: auto;
}

.icon {
  margin-right: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.info {
  font-weight: bold;
}

.name:hover {
  color: rgb(66, 111, 182);
  background-color: #8cd5ff40;
  transition: all 150ms ease-in;
  border-radius: 5px;
  padding: 1px 5px;
}

.link {
  text-decoration: none;
  color: #163d72;
  
}

.linkdark {
  text-decoration: none;
  color: #8cd4ff;
}




